node_modules
.next
.next-e2e
.git
.gitignore
.env*
!.env.example
database/*.db
database/*.db-journal
database/*.db-wal
database/*.db.bak
coverage
docs
scripts
src/__tests__
*.md
!README.md
logo.png
.husky
drizzle
agent
tests
server
data
